[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Exact"]
	path = Exact
	url = https://github.com/cran/Exact
[submodule "MST"]
	path = MST
	url = https://github.com/cran/MST
